<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>projet2-24</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
      <input type="text" v-model="texte"><br/>
      {{capitalize}}
 
  
    </div>
  
    <script>
      //scoped permet de récuppérer ds un slot le contenu uniquement accessible ds
      // un composant 
          const  app = Vue.createApp({   
            data() {
              return {
                texte: ''
              }
            },computed :{
              capitalize () {
                //7ot l7arf lwel en majiscule
                const t = this.texte.split(' ');
                for( let i=0 ; i<t.length;i++) {
                    t[i] = t[i].slice(0,1).toUpperCase()
                    + t[i].slice(1);

                }
                return t.join(' ');
              }
            }
         } );
         
         app.component('employes',{
          data() {
            return {
               personnes: [
                {
                  prenom: 'Ines',
                  nom :'khelifi'
                },
                {
                  prenom :'ali',
                  nom :'obba'
                }
               ]
            }
          },
          //child
          template : `<div v-for="personne in personnes">
            <slot :pers="personne"></slot> 
                      
                      </div> `
        
         })
       app.mount('#app');

    </script>
</body>
</html>