<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet 1-36</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
 <style>
    .col{
       color: bold;
    }
    .i{
        font-style: italic;
    }
    .s{
       text-decoration: underline;
    }
 </style>
</head>
<body>
    <div id="app">
    
        Couleur
        <select v-model="couleur" >
            <option value="black" selected>Noir</option>
            <option value="red">Rouge</option>
            <option value="green">Vert</option>
            <option value="blue">Bleu</option>
          
         </select>

          Taille
         <select v-model="taille">
            <option value="16px" selected>16 px</option>
            <option  value="25px">25 px</option>
            <option  value="40px">40 px</option>
            <option  value="60px">60 px</option>
         </select>
  

         <p :style="{color: couleur,fontSize :taille}">
            I got a song filled with shit for the strong-willed
            When the world gives you a raw deal
            Sets you off 'til you scream, "Piss off! Screw you!"
            When it talks to you like you don't belong
            Or tells you you're in the wrong field
            When something's in your mitochondrial
            'Cause it latched on to you
            
         </p>
       
    </div>
   
  
    <script>
        app = Vue.createApp({
            data(){
                return {
                  couleur:'black',
                  taille:'16px',
            
                }
            
            }
            
         } );

        app.mount('#app');

    </script>
</body>
</html>